# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Galaxy\2022pycharm\DeepLearning\d2l-zh_yz\chapter_multilayer-perceptrons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
